@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;1,9..144,100&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: #226A80

}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #226A80;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.boton {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.boton:hover {
    background: #2fb4cc;
    color: #fff;
}

.boton:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #226A80;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media(min-width: 768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 60px;
        border-radius: 2%;
    }
}